<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457000743468-f9fgd7etcddhgpr05kisscgqd1ot03l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457000743468-f9fgd7etcddhgpr05kisscgqd1ot03l5</string>
	<key>API_KEY</key>
	<string>AIzaSyAn2URMSLwK6EkekuVyPyXoDRX0MscTaAE</string>
	<key>GCM_SENDER_ID</key>
	<string>457000743468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ammanbus</string>
	<key>PROJECT_ID</key>
	<string>amman-bef7c</string>
	<key>STORAGE_BUCKET</key>
	<string>amman-bef7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457000743468:ios:b0582395eb5d365d569789</string>
	<key>DATABASE_URL</key>
	<string>https://amman-bef7c-default-rtdb.firebaseio.com</string>
</dict>
</plist>